@{
    ViewBag.Title = "Grading Registration Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grading Registration Form</h2>

<form>
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="First Name" />
    </div>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Last Name" />
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label for="date-of-birth-year">Date of Birth</label>
            <select id="date-of-birth-year" class="form-control">
                <option>Year</option>
                @for (var i = 2017; i >= 1900; i--)
                {
                    <option>@i</option>
                }
            </select>
            <select id="date-of-birth-month" class="form-control">
                <option>Month</option>
                <option>Jan</option>
                <option>Feb</option>
                <option>Mar</option>
                <option>Apr</option>
                <option>May</option>
                <option>Jun</option>
                <option>Jul</option>
                <option>Aug</option>
                <option>Sep</option>
                <option>Oct</option>
                <option>Nov</option>
                <option>Dec</option>
            </select>
            <select id="date-of-birth-day" class="form-control">
                <option>Day</option>
                @for (var i = 1; i <= 31; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>
    </div>
</form>
